/* ==========================================================================
   Custom styles
   ========================================================================== */

body {
  padding: 8px;
}

table {
  border-collapse:collapse;
  margin: 1em 0;
}
table, td, th {
  border: 1px solid black;
  padding: 5px;
}
table th {
  background: aliceblue;
}

menu {
  width: 10em;
  text-align: center;
  border: 1px solid black;
  padding: 8px;
  border-radius: 5px;
}
menu li {
  list-style: none;
  height: 1.5em;
  margin: 2px auto;
}
menu li button {
  width: 9em;
}
footer {
  margin: 2em auto;
}

.col-form-label {
  text-align: right;
}

* .time_pick .timepicker_wrap {
  position: inherit;
}


